<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <title>Moja pierwsza aplikacja w Django</title>
    <link rel="stylesheet" type="text/css" href="style.css">
</head>
<script src="jsstuff.js"></script>
<body>
    <header>
        <a class="logo">
            <img src="logo.png">
        </a>
        <nav>
            <a href="http://www.interia.pl">Interia</a>
            <a href="http://www.onet.pl">Onet</a>
            <a href="http://www.wp.pl">WP</a>
        </nav>
    </header>
    <div id="mymain">
        <h1>Aplikacja</h1>
        <button>Cześć,co słychać</button>
    </div>
</body>
</html>